.canvas .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.canvas .info {
  display: flex;
}

.canvas canvas {
  background: white;
  border: 1px solid black;
}